.detournee{
    font-style: italic;
}

.contandante{
    font-weight:bold ;
}

article h1,article h2,article h3{
    color: red;
}

aside li ul{
    list-style-type: none;
}

#armes ul >li{color: green;}

#armes ul li li{color: blue;}

article img{
    height: 1em;
    width: 1vw;
}

#annexes section:not(#armes) ul{
    list-style-type: None;
    
}
